.Header{
    width: 100%;
    height: 700px;
    background-color: black;
    margin-top: 10px;
    position: relative;
}
.Registration-form{
    width: 600px;
    height: 500px;
    background-color: white;
    position: absolute;
    margin: 60px;
    left: 290px;
}
.Registration-form h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.User-Name{
    width: 100%;
    height: 30px;
    background-color: rgb(234, 220, 220);
    position: relative;
}
.User-Name h3{
    position: relative;
    left: 20px;
    font-family:cursive;
    color: rgb(185, 99, 70);
}
.User-Name input{
    width: 300px;
    position: relative;
    left: 20px;
    height: 20px;
    border: solid rgb(125, 163, 166);
}
.E-mail{
    width: 100%;
    height: 30px;
    background-color: rgb(234, 220, 220);
    position: relative;
    top: 30px;

}
.E-mail h3{
    position: relative;
    left: 20px;
    font-family:cursive;
    color: rgb(185, 99, 70);
}
.E-mail input{
    width: 300px;
    position: relative;
    left: 20px;
    height: 20px;
    border: solid rgb(125, 163, 166);
}
.Password{
    width: 100%;
    height: 30px;
    background-color: rgb(234, 220, 220);
    position: relative;
    top: 60px;

}
.Password h3{
    position: relative;
    left: 20px;
    font-family:cursive;
    color: rgb(185, 99, 70);
}
 .Password input{
    width: 300px;
    position: relative;
    left: 20px;
    height: 20px;
    border: solid rgb(125, 163, 166);
}
.button{
    width: 200px;
    background-color: rgb(254, 254, 255);
    position: absolute;
    top: 380px;
    height: 30px;
    left: 150px;
}
.button button{
    width: 100px;
    height:30px ;
    position: relative;
    left: 70px;

}
.Registration-form hr{
    width: 50%;
    position: relative;
    top: 200px;
    left: -20px;
}

.head{
    width: 100%;
    background-color: blueviolet;
    height: 770px;
    position: relative;
}

.loginPage {
    width: 700px;
    height: 500px;
    background-color: cadetblue;
    position: absolute;
   margin-top: 90px;
    text-align: center;
    margin-left: 300px;
}

.user-Id{
    width: 300px;

    background-color: brown;
    position: relative;
    left: 190px;
    border-radius: 20px;
    align-items: center;
}
.user-Id input{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: brown;
    border:  white;
    top: 50px;
    left: 1px;
    border-radius: 20px;
}
.e-mail{
    width: 300px;

    background-color: brown;
    position: relative;
    left: 190px;
    border-radius: 20px;
    align-items: center;
}
.e-mail input{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: brown;
    border:  white;
    top: 5px;
    left: 1px;
    border-radius: 20px;
}

.Upper-Head{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position:static;
    
}

.matter{
    width: 100%;
    height: 900px;
    background-color: blueviolet;
    position: absolute;
}
.dresses{
    width: 100%;
    height: 350px;
    background-color: darkblue;
}
.circle1{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: relative;
    left: 30px;
    top: 30px;
}
.img1{
    position: relative;
   
    height: 100%;
    width: 100%;
   
}
.circle2{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 190px;
    top: 30px;
}
.img2{
    height: 100px;
    width: 100px;
   
}

.circle3{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 350px;
    top: 30px;
}
.img3{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 1px;
   
}
.circle4{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 510px;
    top: 30px;
}
.circle5{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 670px;
    top: 30px;
}
.circle6{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 830px;
    top: 30px;
}
.circle7{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 1000px;
    top: 30px;
}
.circle8{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 1150px;
    top: 30px;
}
.circle9{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 830px;
    top: 30px;
}
.circle10{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 30px;
    top: 190px;
}
.circle11{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 190px;
    top: 190px;
}
.circle12{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 350px;
    top: 190px;
}
.circle13{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 510px;
    top: 190px;
}
.circle14{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 670px;
    top: 190px;
}
.circle15{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 830px;
    top: 190px;
}
.circle16{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 1000px;
    top: 190px;
}
.circle17{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 1150px;
    top: 190px;
}
.circle18{
    width: 130px;
    height: 130px;
    border-radius: 80px 80px 80px 80px;
    background-color: black;
    position: absolute;
    left: 830px;
    top: 190px;
}

.image{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.Upper-Head input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-width: 00px;
        position: absolute;
        left:   500px;
        top: 30px;
        background-color: rgb(197, 188, 188);
}
.image2{
    width: 40px;
    position: absolute;
    left: 1000px;
    top: 30px;
}
.image3{
    width: 40px;
    position: absolute;
    left: 1050px;
    top: 30px;
}
.image4{
    width: 40px;
    position: absolute;
    left: 1100px;
    top: 30px;
}